In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'../datasets/Credit Risk Benchmark Dataset.csv')

# Exploratory Data Analysis (EDA)

In [10]:
print(df.head())

   rev_util   age  late_30_59  debt_ratio  monthly_inc  open_credit  late_90  \
0  0.006999  38.0         0.0    0.302150       5440.0          4.0      0.0
1  0.704592  63.0         0.0    0.471441       8000.0          9.0      0.0
2  0.063113  57.0         0.0    0.068586       5000.0         17.0      0.0
3  0.368397  68.0         0.0    0.296273       6250.0         16.0      0.0
4  1.000000  34.0         1.0    0.000000       3500.0          0.0      0.0

   real_estate  late_60_89  dependents  dlq_2yrs
0          1.0         0.0         3.0         0
1          1.0         0.0         0.0         0
2          0.0         0.0         0.0         0
3          2.0         0.0         0.0         0
4          0.0         0.0         1.0         0

In [8]:
print(df.info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16714 entries, 0 to 16713
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rev_util     16714 non-null  float64
 1   age          16714 non-null  float64
 2   late_30_59   16714 non-null  float64
 3   debt_ratio   16714 non-null  float64
 4   monthly_inc  16714 non-null  float64
 5   open_credit  16714 non-null  float64
 6   late_90      16714 non-null  float64
 7   real_estate  16714 non-null  float64
 8   late_60_89   16714 non-null  float64
 9   dependents   16714 non-null  float64
 10  dlq_2yrs     16714 non-null  int64
dtypes: float64(10), int64(1)
memory usage: 1.4 MB
None

In [9]:
print(df.describe(include='all'))

           rev_util           age    late_30_59    debt_ratio    monthly_inc  \
count  16714.000000  16714.000000  16714.000000  16714.000000   16714.000000
mean       4.799862     48.798672      1.110267     30.980298    6118.120258
std      204.062345     13.906078      7.172890    719.694859    5931.841779
min        0.000000     21.000000      0.000000      0.000000       0.000000
25%        0.082397     38.000000      0.000000      0.155971    3128.500000
50%        0.443080     48.000000      0.000000      0.322299    5000.000000
75%        0.926637     58.000000      1.000000      0.533426    7573.000000
max    22000.000000    101.000000     98.000000  61106.500000  250000.000000

        open_credit       late_90   real_estate    late_60_89    dependents  \
count  16714.000000  16714.000000  16714.000000  16714.000000  16714.000000
mean       8.503709      0.863827      1.047445      0.734354      0.944358
std        5.370965      7.167576      1.272565      7.138737      1.198791
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        5.000000      0.000000      0.000000      0.000000      0.000000
50%        8.000000      0.000000      1.000000      0.000000      0.000000
75%       11.000000      0.000000      2.000000      0.000000      2.000000
max       57.000000     98.000000     29.000000     98.000000      8.000000

           dlq_2yrs
count  16714.000000
mean       0.500000
std        0.500015
min        0.000000
25%        0.000000
50%        0.500000
75%        1.000000
max        1.000000

In [12]:
# List of columns that are counts and should be integers
int_cols = ['age', 'late_30_59', 'open_credit', 'late_90', 
            'real_estate', 'late_60_89', 'dependents']

# Change data types for memory efficiency and semantic correctness
for col in int_cols:
    df[col] = df[col].astype(int)

print("Data types after conversion:")
print(df.dtypes)

Data types after conversion:
rev_util       float64
age              int64
late_30_59       int64
debt_ratio     float64
monthly_inc    float64
open_credit      int64
late_90          int64
real_estate      int64
late_60_89       int64
dependents       int64
dlq_2yrs         int64
dtype: object